* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: #ffffff;
  font-size: 1.6rem;
  line-height: 1.5;
  height: 100%;
  min-height: 100vh;
  padding-bottom: 3rem;
}

.container {
  width: 100%;
  max-width: 576px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  background: #b45309;
}

input {
  display: block;
  width: 100%;
  padding: 1rem 1.7rem;
  background: #ffffff;
  border-radius: 6px;
  border: none;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  font-family: inherit;
  font-size: 1.4rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #9ca3af;
}

.text-center {
  text-align: center;
}

.form {
  width: 100%;
  height: 42px;
  display: flex;
}

.input-field {
  flex: 1 1 0%;
  margin-right: 15px;
}

.input {
  height: 100%;
}

.home-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-page,
.category-page {
  padding-top: 5rem;
  padding-bottom: 2rem;
}
